html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-auto-rows: max-content;
  grid-auto-columns: max-content;
  grid-template-areas: 
    "header header"
    "sidebar content"
    "footer footer";
}

.header {
  background-color: grey;
  grid-area: header;
}

.sidebar {
  background-color: yellow;
  grid-area: sidebar;
}

.content {
  background-color: cyan;
  grid-area: content;
}

.footer {
  background-color: gray;
  grid-area: footer;
  grid-auto-rows: max-content;
}
